@(tab: String)(implicit request: RequestHeader, context: com.teamgehem.model.TGContext)

@defining(context.navigation_list){ op_list =>
        @op_list.map { list =>
            @for(nav_info <- list) {
                <li class="@("active".when(tab == nav_info.short_cut))">
                    <a href="@routes.HomeController.navigation(nav_info.name, nav_info.short_cut, nav_info.post_seq)">@{
                        nav_info.name
                    }</a>
                </li>
            }
        }
}

@*
@for(nav_info <- context.navigation_list) {

}

<li class="@("active".when(tab == "experience"))">
<a href="@routes.HomeController.about()" )>Experience</a>
</li>
<li class="@("active".when(tab == "skills"))">
<a href="@routes.HomeController.about()" )>Skills</a>
</li>
<li>
<a href="@routes.HomeController.contact()" )>Education</a>
</li>*@
