@import com.teamgehem.model.BoardSearchInfo
@(page: Int, board_seq_option: Option[Long], search_info: Option[BoardSearchInfo])(implicit request: MessagesRequest[AnyContent], messagesProvider: MessagesProvider)
<div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="AdvancedSearch" aria-expanded="false">
            @search_info.map { info =>
                @{
                    info.search_type match {
                        case 0 => Messages("board.search.subject.title")
                        case 1 => Messages("board.search.content.title")
                        case 2 => s"${Messages("board.search.subject.title")} + ${Messages("board.search.content.title")}"
                        case 3 => Messages("board.search.author.title")
                        case 4 => Messages("board.search.comment.title")
                        case _ => Messages("board.search.subject.title")
                    }
                }
            }.getOrElse("subject") <span class="caret"></span></button>
        <ul class="dropdown-menu" id="dropdown">
            <li><a >@Messages("board.search.subject.title")</a></li>
            <li><a >@Messages("board.search.content.title")</a></li>
            <li><a >@Messages("board.search.subject.title") + @Messages("board.search.content.title")</a></li>
            <li><a >@Messages("board.search.author.title")</a></li>
            <li><a >@Messages("board.search.comment.title")</a></li>
        </ul>
    </div>
        <!-- /btn-group -->
    <input id="search" class="form-control" placeholder="Search for..." value = @search_info.map(_.search_word).getOrElse("")>
    <span class="input-group-btn">
        <a href="@{
            board_seq_option.map(board_seq => routes.PostController.search(board_seq, 1, 0, "")).getOrElse(routes.PostController.searchAll(1, 0, ""))
        }" id="search_button" class="btn btn-default" type="button" val=@{
            page
        }>@Messages("board.search.title")</a>
    </span>
</div>
