@(boards:Seq[Board], permissions:Seq[Permission], form:Form[_], url : Call)(implicit header: controllers.traits.Header, messages: Messages)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

@option_permissions = @{
    for{
        permission <- permissions
    }yield (permission.permission_code.toString -> permission.content)
}
@main("boards", "admin") {

    <div class="panel panel-default">
        <div class="panel-heading">게시판 생성</div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>이름</th>
                        <th>상태</th>
                        <th>답글권한</th>
                        <th>댓글권한</th>
                        <th>파일첨부권한</th>
                        <th>목록권한</th>
                        <th>읽기권한</th>
                        <th>쓰기권한</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>수정</th>
                        <th>상태</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    @for(board <- boards){
                        <tr>
                            <th scope="row">@{board.seq}</th>
                            <td>@{board.name}</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs disabled" role="button">
                                <span class="glyphicon @if(board.status) {glyphicon-ok} else {glyphicon-remove}"></span>
                                </a>
                            </td>
                            <td>@{board.is_reply}</td>
                            <td>@{board.is_comment}</td>
                            <td>@{board.is_attachment}</td>
                            <td>@{board.list_permission}</td>
                            <td>@{board.read_permission}</td>
                            <td>@{board.write_permission}</td>
                            <td>@{board.author}</td>
                            <td>@tags.tag_cleanly_date(board.register_date)</td>
                            <td>
                                <a title = "edit" href="@routes.BoardController.editBoardForm(board.seq)" class="btn btn-info btn-xs active" role="button"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                            <td>
                            @defining(board.status) { status =>
                                <a title = "active" href="@routes.BoardController.setActiveBoard(board.seq, true)" class="btn btn-warning btn-xs @if(status){disabled}else{active}" role="button"><span class="glyphicon glyphicon-ok"></span></a>
                                <a title = "inactive" href="@routes.BoardController.setActiveBoard(board.seq, false)" class="btn btn-warning btn-xs @if(status){active}else{disabled}" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                            }
                            </td>
                            <td>
                                <button type="button" title = "remove" data-toggle="modal" data-target="#remove_board" class="btn btn-danger btn-xs" ><span class="glyphicon glyphicon-trash"></span></button>

                            </td>
                            @tags.tag_modal_simple("remove_board", "Warnning", routes.BoardController.deleteBoard(board.seq)){
                                Are you sure you want to remove this board?
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @b3.form(url) {

        @defining(form.data.get("seq")) { seq =>
            @if(seq.isDefined) {
                @b3.hidden("seq", seq)
            }

        <div class="row">
            <div class="col-md-4">
            @b3.text(form("name"), '_label -> "Title")
            </div>
            <div class="col-md-2">
            @b3.checkbox(form("status"), '_text -> "status")
            </div>
            <div class="col-md-2">
            @b3.checkbox(form("is_reply"), '_text -> "is_reply")
            </div>
            <div class="col-md-2">
            @b3.checkbox(form("is_comment"), '_text -> "is_comment")
            </div>
            <div class="col-md-2">
            @b3.checkbox(form("is_attachment"), '_text -> "is_attachment")
            </div>
        </div>
            @b3.textarea(form("description"), '_label -> "Contents")
        <div class="row">
            <div class="col-md-4">
            @b3.select(form("list_perm"), options = option_permissions, '_label -> "List Permission")
            </div>
            <div class="col-md-4">
            @b3.select(form("read_perm"), options = option_permissions, '_label -> "Read Permission")
            </div>
            <div class="col-md-4">
            @b3.select(form("write_perm"), options = option_permissions, '_label -> "Write Permission")
            </div>
        </div>

            @b3.submit('class -> "btn btn-default") {
                <span class="glyphicon glyphicon-ok"></span>
                @if(seq.isDefined) {Edit} else {Create}
            }
        }
    }
}
