@import com.typesafe.config.ConfigFactory

<!-- Footer -->
<footer>
        <!-- Call to Action Well -->

    <div class="row well">
        <div class="col-md-4 col-md-offset-4 text-left"><i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:terdong@@gmail.com">terdong@@gmail.com</a></div>
        <div class="col-md-4 col-md-offset-4 text-left"><i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://github.com/terdong">https://github.com/terdong</a></div>
        <div class="col-md-4 col-md-offset-4 text-left"><i class="fa fa-linkedin" aria-hidden="true"></i>
            <a href="https:/www.linkedin.com/in/dongheekim">https:/www.linkedin.com/in/dongheekim</a></div>
        <div class="col-md-4 col-md-offset-4 text-left"><i class="fa fa-phone" aria-hidden="true"></i>
            +82-10-3405-2121</div>
@*        <div class="col-md-4 col-md-offset-4 text-left"><i class="fa fa-home" aria-hidden="true"></i>
            Naju-si, Jeollanam-do, Republic of Korea</div>*@
        <div class="col-md-12 col-centered">
            <br/>
            <small><p> I certify that all information on this is true and complete. © 2017 DongHee Kim, @ConfigFactory.load().getString("version")</p ></small>
        </div >
    </div>
    @* <div class="row">

    </div >*@
</footer >