@(tab: String)(implicit request: play.api.mvc.RequestHeader)   @*(implicit header: controllers.traits.Header)*@
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.HomeController.index()">
                <img src='@routes.Assets.versioned("images/ci-0_custom3.png")' height="30" alt="">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="@("active".when(tab == "about"))">
                    <a href="#" )>About</a>
                </li>
                <li class="dropdown @("active".when(tab == "board"))">
                    <a href="@routes.PostController.list(0, 1)" >Board </a>
                @*
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Board <b class="caret"></b></a>
                    <ul class="dropdown-menu">



                    @header.board_list.map { list =>
                        <li>
                            <a href="@routes.PostController.listAll(1)">All</a>
                        </li>
                    @for(board_info <- list) {

                        <li>
                            <a href="@routes.PostController.list(board_info.seq, 1)">@{
                                board_info.name
                            }</a>
                        </li>
                    }
                    }

                    </ul>
                *@
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>


                @tags.tag_account_contents(9){
                    <li class="dropdown @("active".when(tab == "admin"))">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=@routes.AdminController.members()>members</a>
                            </li>
                            <li>
                                <a href=@routes.BoardController.boards()>boards</a>
                            </li>
                            <li>
                                <a href=@routes.AdminController.permissions()>permissions</a>
                            </li>
                        </ul>
                    </li>
                }()

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                        @tags.tag_account_contents(){

                            <li><a>@{request.session.get("email")} 님</a></li>
                            <li><a href="@routes.AccountController.edit"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="@routes.AccountController.signout"><i class="fa fa-sign-out fa-fw"></i>
                                Sign Out</a></li>

                        }{
                                <li><a href="@routes.AccountController.signin"><i class="fa fa-sign-in fa-fw"></i> Sign In</a></li>
                                <li class="divider"></li>
                                <li><a href="@routes.AccountController.signup"><i class="fa fa-user-plus fa-fw"></i> Sign Up</a></li>

                        }

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>