@import com.teamgehem.model.BoardInfo
@import com.teamgehem.model.BoardSearchInfo
@import com.teamgehem.model.PaginationInfo
@(board_name: String, posts: Seq[(Post, String, Int)], pagination_info: PaginationInfo, route: Int => Call, board_seq:Option[Long] = None, search_info: Option[BoardSearchInfo] = None)(implicit request: MessagesRequest[AnyContent], messagesProvider: MessagesProvider, board_list: Option[Seq[BoardInfo]])
@import b3.clear.fieldConstructor
@scripts = {
    <script src="@routes.Assets.versioned("javascripts/click_event.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/search_event.js")" type="text/javascript"></script>
}
@main("list", "board", scripts = scripts) {

    @tags.tag_board_list(board_name)

    @tags.tag_table_layout(Messages(s"board.${board_name}")) {
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-6">제목</th>
            <th class="col-md-2">작성자</th>
            <th class="col-md-2">작성일</th>
            <th class="col-md-1">조회수</th>
        </tr>
    } {
        @for(p <- posts) {
            @defining(p._1) { post =>
                @defining(p._2) { member_name =>
                    <tr url= @{
                        routes.PostController.read(post.board_seq, post.seq, pagination_info.current_page)
                    }>
                        <th scope="row">
                        @{
                            post.seq
                        }
                        </th>
                        <td>
                            @for( i <- 1 to post.depth){<i class="fa fa-reply fa-rotate-180"></i>}
                            @{post.subject}
                            @if(p._3 > 0){<span class="badge badge-info">@p._3</span>}
                        </td>
                        <td>
                        @{
                            member_name
                        }
                        </td>
                        <td>
                        @{
                            post.write_date.toString.split('.')(0)
                        }
                        </td>
                        <td>
                        @{
                            post.hit_count
                        }
                        </td>
                    </tr>
                }
            }
        }
    }

    @if(request.session.get("email").isDefined) {
        <a href="@routes.PostController.writePostForm(board_seq.getOrElse(0))">
        @b3.button('class -> "btn btn-default pull-right") {
            <span class="fa fa-pencil"></span> Write
        }</a>
    }

    @includes.search(pagination_info.current_page, board_seq, search_info)

    @tags.tag_paginate(pagination_info, route)
}