@(board_name: Option[String], posts: Seq[(Post, String)], page: Int, page_length: Int, count: Int, board_seq: Long = 0)(implicit messages: Messages, header: controllers.traits.Header)

@main("list") {
    <div class="panel panel-default">
            <!-- Default panel contents -->
        <div class="panel-heading">@board_name.getOrElse("All")</div>

            <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-7">제목</th>
                        <th class="col-md-1">작성자</th>
                        <th class="col-md-2">작성일</th>
                        <th class="col-md-1">조회수</th>
                    </tr>
                </thead>
                <tbody id="clickEvent">
                @for(p <- posts) {
                    @defining(p._1) { post =>
                        @defining(p._2) { member_name =>
                            <tr url= @{
                                routes.PostController.showPost({
                                    post.board_seq
                                }, {
                                    post.seq
                                })
                            }>
                                <th scope="row">
                                @{
                                    post.seq
                                }
                                </th>
                                <td>
                                @{
                                    post.subject
                                }
                                </td>
                                <td>
                                @{
                                    member_name
                                }
                                </td>
                                <td>
                                @{
                                    val date = post.write_date.toString
                                    val index = date.indexOf('.')
                                    date.substring(0, index)
                                }
                                </td>
                                <td>
                                @{
                                    post.hit_count
                                }
                                </td>
                            </tr>
                        }
                    }
                }
                </tbody>
            </table>
        </div>
    </div>

    @tags.tag_paginate(page, page_length, count, board_seq, if(board_name.isDefined) routes.PostController.list(board_seq, _) else routes.PostController.listAll(_))
}