@(writeForm: Form[_])(implicit board_seq: Long, messages: Messages, header: controllers.traits.Header)
@implicitFC = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

@main("write") {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@{
                if(board_seq == 0){
                    "All"
                }else {
                    header.board_list.map(list => {
                        list.find(p => p._1 == board_seq).head._2
                    })
                }
            }</h3>
        </div>
        <div class="panel-body">

        @b3.form(routes.PostController.writePost(board_seq)) {
            @if(board_seq == 0 && header.board_list.isDefined) {
                @defining(for {
                    tuple <- header.board_list.get
                } yield (tuple._1.toString, tuple._2)) { board_list =>
                    @b3.select(writeForm("board_seq"), options = board_list, '_label -> "Board")
                }
            } else {
                @b3.hidden("board_seq", board_seq)
            }
            @b3.text(writeForm("subject"), '_label -> "Subject")
            @b3.textarea(writeForm("content"), '_label -> "Content", 'rows -> 5)
            @b3.submit('class -> "btn btn-default") {
                <span class="glyphicon glyphicon-ok"></span> Write}
        }
        </div>
    </div>
}