@import com.teamgehem.model.BoardInfo
@(active_board_name:String)(implicit request:MessagesRequest[AnyContent], board_list_option:Option[Seq[BoardInfo]])
@board_list_option.map{ board_list =>
    <ol class="breadcrumb">
        @if(board_list.length > 0) {
            <li class="breadcrumb-item@if("all".equals(active_board_name)){ active">@Messages("board.all")</li>}else{">
                <a href="@routes.PostController.list(0, 1)">@Messages("board.all")</a>
            </li>
            }
            @defining(request.session.get("permission").getOrElse("0").toByte) { permission: Byte =>
                @for(board <- board_list) {
                    @if(permission >= board.list_perm) {
                        @defining(board.name){ board_name =>
                            <li class="breadcrumb-item@if(board_name.equals(active_board_name)){ active">@Messages(s"board.${board_name}")</li>}else{">
                                <a href="@routes.PostController.list(board.seq, 1)">@Messages(s"board.$board_name")</a>
                                </li>
                            }
                        }
                    }
                }
            }
        }
    </ol>

}
