@(action:Call, board_seq:Long, form:Form[_])(implicit request: com.teamgehem.security.AuthMessagesRequest[AnyContent], messagesProvider: MessagesProvider)

@implicitFC = @{
    b3.horizontal.fieldConstructor("col-md-1", "col-md-11")
}
@b3.formCSRF(action, 'id -> "postForm") {
    @b3.hidden("board_seq", board_seq)
    @b3.text(form("subject"), '_label -> "Subject")
    @b3.textarea(form("content"), '_label -> "Content", 'rows -> 5)
    @b3.button('class -> "btn btn-default pull-right"){<span class="glyphicon glyphicon-ok"></span> Write}

    @b3.submit('class -> "btn btn-default", 'style ->"display:none;"){Write}
}