@(form: Form[_], board_seq: Long, route: Call)(implicit messages: Messages, header: controllers.traits.Header)
@implicitFC = @{
    b3.horizontal.fieldConstructor("col-md-1", "col-md-11")
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@{
            if(board_seq == 0){
                "All"
            }else {
                header.board_list.map(list => {
                    list.find(p => p.seq == board_seq).head.name
                })
            }
        }</h3>
    </div>
    <div class="panel-body">

    @b3.form(route, 'id -> "postForm") {
        @if(board_seq == 0 && header.board_list.isDefined) {
            @defining(for {
                tuple <- header.board_list.get
            } yield (tuple.seq.toString, tuple.name)) { board_list =>
                @b3.select(form("board_seq"), options = board_list, '_label -> "Board")
            }
        } else {
            @b3.hidden("board_seq", board_seq)
        }
        @b3.text(form("subject"), '_label -> "Subject")
        @b3.textarea(form("content"), '_label -> "Content", 'rows -> 5)
        @b3.button('class -> "btn btn-default pull-right"){<span class="glyphicon glyphicon-ok"></span> Write}
        @b3.submit('class -> "btn btn-default", 'style ->"display:none;"){Write}
    }
    </div>
</div>