@(loginForm: Form[Login])(implicit messages: Messages)
@import b3.vertical.fieldConstructor

@main("login") {
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                    @b3.form(routes.HomeController.login) {
                        @b3.text(loginForm("email"), 'placeholder -> "E-mail", 'type -> "email", 'autofocus -> true)
                        @b3.text(loginForm("password"), 'placeholder -> "Password", 'type -> "password", 'value -> "")
                        @b3.checkbox(loginForm("checkbox"), '_text -> "Remember Me", 'checked -> false)
                        @b3.submit('class -> "btn btn-lg btn-success btn-block") {Login}
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
}