@(editForm: Form[_], member:Member, permission_content:String )(implicit messages: Messages, header: controllers.traits.Header)
@implicitFC = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

@main("members_edit") {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Messages("account.edit.title")</h3>
        </div>
        <div class="panel-body">

        @b3.form(routes.AccountController.edit) {
            @tags.tag_form_input_disabled("Email",member.email, "email")
            @b3.text(editForm("name"), '_label -> "Name")
            @b3.text(editForm("nick"), '_label -> "Nick")
            @tags.tag_form_input_disabled("Permission", permission_content)
            @tags.tag_form_input_disabled("Level", member.level.toString, "number")
            @tags.tag_form_input_disabled("Exp", member.exp.toString,"number")
            @tags.tag_form_input_disabled("register_date", member.register_date.toString.split('.')(0))
            @tags.tag_form_input_disabled("updated_date", member.update_date.toString.split('.')(0))
            @tags.tag_form_input_disabled("last_logged", member.last_logged.toString.split('.')(0))

            @b3.submit('class -> "btn btn-default") {
                <span class="glyphicon glyphicon-ok"></span> Edit}
        }
        </div>
    </div>
}