@import com.teamgehem.model.BoardInfo
@(boards_info: Seq[BoardInfo], seq_posts: Seq[Seq[(Long, String, Int, Boolean)]])(implicit request: MessagesRequest[AnyContent])

    @scripts = {
        <script src="@routes.Assets.versioned("javascripts/click_event.js")" type="text/javascript"></script>
    }

    @main(title = "Home", scripts = scripts) {

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                @includes.carousel()
                @*<img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">*@
            </div>
                <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1><small>Welcome to </small></br> Team Gehem</h1>
                <p>@Messages("contents.home.introduction")</p>
                @*<a class="btn btn-primary btn-lg" href="#">Call to Action!</a>*@
            </div>
                <!-- /.col-md-4 -->
        </div>
            <!-- /.row -->
        <hr>

            <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    This is a well that is a great spot for a business tagline or phone number for easy access!
                </div>
            </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->

            <!-- Content Row -->
        <div class="row">
        @for((seqs_posts, info) <- seq_posts.zip(boards_info)) {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Messages(s"board.${info.name}")</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody id="clickEvent">
                                @for(post <- seqs_posts) {
                                    <tr url= "@{routes.PostController.read(info.seq, post._1, 1)}">
                                        <td>
                                            @{
                                                post._2
                                            }
                                            @if(post._3 > 0) {
                                                <span class="badge badge-info">@post._2</span>
                                            }
                                            @if(post._4) {
                                                <span class="badge badge-warning">today</span>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-4 -->
        }
        </div>
            <!-- /.row -->
    }
