@import com.teamgehem.model.BoardInfo
@import views.html.helper.CSRF
@(boards_info: Seq[BoardInfo], seq_posts: Seq[Seq[(Long, String, Int, Boolean)]])(implicit request: MessagesRequest[AnyContent], context:com.teamgehem.model.TGContext)

    @scripts = {
        <script src="@routes.Assets.versioned("javascripts/click_event.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/chatting.js")" type="text/javascript"></script>
    }

    @main(title = "Home", scripts = scripts) {
        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <h1><small>Welcome to the resume site of developer </small>"DongHee Kim"</h1>
                @includes.carousel()
                <br/>
                <p>@Html(Messages("contents.home.resume.introduction"))</p>

            </div>
                <!-- /.col-md-8 -->
            <div class="col-md-4">
                <div class="chat">
                    <div class="head">simple chat room</div>
                    <div class="log" data-spy="scroll"></div>
                    <input type="text" name="message" placeholder="Your message" />
                </div>

                @*<a class="btn btn-primary btn-lg" href="#">Call to Action!</a>*@
            </div>
                <!-- /.col-md-4 -->
        </div>
            <!-- /.row -->
        <hr>

            <!-- Content Row -->
        <div class="row">
        @for((seqs_posts, info) <- seq_posts.zip(boards_info)) {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Messages(s"board.${info.name}")</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody id="clickEvent">
                                @for(post <- seqs_posts) {
                                    <tr url= "@{routes.PostController.read(info.seq, post._1, 1)}">
                                        <td>
                                            @{
                                                post._2
                                            }
                                            @if(post._3 > 0) {
                                                <span class="badge badge-info">@post._3</span>
                                            }
                                            @if(post._4) {
                                                <span class="badge badge-warning">today</span>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-4 -->
        }
        </div>
            <!-- /.row -->
    }
